.monaco-editor {
  min-height: 300px !important;
}

.monaco-editor .overflow-guard {
  min-height: 300px !important;
}

.monaco-editor .monaco-scrollable-element {
  min-height: 300px !important;
}

.code-field .field-type__wrap {
  height: 300px !important;
}

.code-field .field-type__wrap section {
  height: 300px !important;
}
